@model AppMVCBasic.UI.Models.SupplierViewModel

@{
    ViewData["Title"] = "Edit Supplier";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" class="row">    
    <vc:summary></vc:summary>
    <input type="hidden" asp-for="Id" />
    <div class="col-lg-6 mb-3">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-lg-6 mb-3">
        <label asp-for="Document" class="control-label"></label>
        <input asp-for="Document" class="form-control" />
        <span asp-validation-for="Document" class="text-danger"></span>
    </div>
    <div class="col-lg-6 mb-3">
        <label asp-for="SupplierType" class="control-label"></label>
        <input asp-for="SupplierType" class="form-control" />
        <span asp-validation-for="SupplierType" class="text-danger"></span>
    </div>
    <div class="form-group form-check col-lg-6 mb-3">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
        </label>
    </div>
    <div class="col-lg-12">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a href="javascript:window.history.back()" class="btn btn-light">Back</a>
    </div>
</form>

<div id="AddressTarget">
    <partial name="_AddressDetails" />
</div>

<div>
    
    <hr />
    <h3>Products</h3>
    <partial name="../Products/_Products" model="@Model.Products"/>
</div>

<div id="myModal" class="modal fade in" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>
            $(document).ready(function () {
                SetModal();
            });
        </script>
}
