@model IEnumerable<AppMVCBasic.UI.Models.ProductViewModel>

@{
    ViewData["Title"] = "List of Products";
}

<h1>@ViewData["Title"]</h1>
<vc:summary></vc:summary>
<p supress-by-claim-name="Product" supress-by-claim-value="Add">
    <a asp-action="Create" class="btn btn-primary">New Product</a>
</p>
<partial name="_Products" />
